@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Corinthia:wght@700&display=swap');
/* @import url('http://fonts.cdnfonts.com/css/densmore-2'); */
@import url('http://fonts.cdnfonts.com/css/hansief');
@import url('http://fonts.cdnfonts.com/css/lemondrop');
@import url('http://fonts.cdnfonts.com/css/michelangelo');
@import url('http://fonts.cdnfonts.com/css/bodoni-fragile');
@import url('http://fonts.cdnfonts.com/css/optithaddeus');
@import url('http://fonts.cdnfonts.com/css/nervousm');
@import url('http://fonts.cdnfonts.com/css/queen-of-clubs');

body {
    background-color: #FCECDD;
    overflow-x: hidden;
    padding: 0;
}

.banner {
  position: fixed;
  top: 0vh;
  left: 0%;
  width: 65vw;
  height: 10vh;
  display: grid;
  grid-template-columns: repeat(40, 1fr);
  grid-template-rows: repeat(3, 1fr);
  overflow-x: hidden;

  /* z-index: 1; */
  /* border: solid 1px black; */
}

header {
  position: fixed;
  top: 0%;
  left: 2%;
  width: 27vw;
  height: 5.5vh;
  /* background-color: #383bff;  */
  /* border: dotted 2px black;  */
  /* backdrop-filter: blur(20px); */
  /* box-shadow: 3px 1px 3px 1px rgba(134, 134, 134, 0.431); */
  opacity: 0.75;
  z-index: 20;
}

#head-subhead {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  margin-top: 0;
  top: -5vh;
  width: 100vw;
  height: 20vh;
 
}

/* 
 @supports (-webkit-text-stroke: 1px black) { 
     h1 {
      
      -webkit-text-stroke: 1px rgb(0, 0, 0);
      -webkit-text-fill-color: rgb(255, 224, 50);
    }

  #t {
    -webkit-text-stroke: 1px rgba(0, 0, 0);
   
   }

  } */

#indigo {
    /* width: 40vw; */
    /* height: 10vh; */
    /* font-family: Arial, Helvetica, sans-serif; */
    
    font-size: 4em;    
    font-family: 'Queen of Clubs', sans-serif;
    /* border: 1px solid red; */
;
    color: #000000;
    margin-bottom: 0;
    /* text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.123); */
   
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;  */
   
}

#subhead {
  /* position: absolute; 
  width: 50vw;
  left: 1vw;
  top: 5vh; */
  margin-top: 0;
  font-family: 'queen of clubs', serif;
  /* font-family: 'OPTIThaddeus-Light', sans-serif; */
  font-size: 1.8em;
}



/* .color {
    /* border-radius: 10vw;  */
    /* border: solid 1px black;  */
    
/* } */ 


#section-1 {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 0px;
  height: 300vh;
  width: 100vw;
  /* top: 5.5vh;
  left: 0px;
  width: 100vw;
  height: 20vh; */
  /* background-color:black;  */
}

/* #hero-div {
  position: absolute; 
  top: 2vh;
  left: 65%;
  width: 70vh;
  height: 70vh;
} */

#border-div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 3vh;
  left: 70%;
  width: 35vh;
  height: 35vh;
  background: white;
  border-radius: 50%;
}

#hero-img {
  /* position: absolute; */
  width: 100%;
  height: auto;
  clip-path: circle(42% at center);
}



#section-2 {
  position: absolute;
  display: flex;
  flex-direction: row;
  /* background-color:blueviolet;
  left: 0px;
  width: 100vw;
  height: 20vh;
  top: 25.5vh; */
}

#section-3 {
  display: flex;
  flex-direction: row;
}

#section-4 {
  display: flex;
  flex-direction: row;
}

#section-5 {
  display: flex;
  flex-direction: row;
}


/* #wireframe {
position: absolute;
top: 0vh;
right: 0vw;
width: 100vw;
height: 100vh;
} */


 /* #wireframe-container{
  display:flex;
  justify-content: center;
  width: 75vw;
  height: 100vh;
} */


#animation-container {
  position: absolute;
  top: 60vh;
  left: 6vh;
  width: 100vw;
  height: 25%;
  /* background-color: black; */
  }

#paintball {

  transform: rotate(180deg);
}

#paintball-2 {
  position: absolute;
  top: -5vh;
  right: 10vh;
}





/* #t{
  color:indigo;
} */

/* #cross{
  position: fixed;
  height: 0.1em;
  width:  0.65em;
  background-color: rgb(255, 224, 50);
  left: 71vw;
  top: 4.5vw;
  z-index: 5
} */