@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Corinthia:wght@700&display=swap');
/* @import url('http://fonts.cdnfonts.com/css/densmore-2'); */
@import url('http://fonts.cdnfonts.com/css/hansief');
@import url('http://fonts.cdnfonts.com/css/lemondrop');
@import url('http://fonts.cdnfonts.com/css/michelangelo');
@import url('http://fonts.cdnfonts.com/css/bodoni-fragile');
@import url('http://fonts.cdnfonts.com/css/optithaddeus');
@import url('http://fonts.cdnfonts.com/css/nervousm');
@import url('http://fonts.cdnfonts.com/css/queen-of-clubs');
@import url("https://use.typekit.net/qwy7orv.css");
@import url("https://use.typekit.net/qwy7orv.css");
@import url("https://use.typekit.net/qwy7orv.css");
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Corinthia:wght@700&family=Oswald:wght@200;300;400&display=swap');


body {
    background-color: #FCECDD;
    overflow-x: hidden;
}


.topnav {
  /* overflow: hidden;  */
  /* background-color: #333; */
  padding-top: 3.9%;
  width: 100vw;
  position: fixed;
  top: 0px;
  right:0px;
  z-index: 150;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5em;
  display: block;
  font-family: 'queen of clubs', sans-serif
}





/* Style the hamburger menu */
.topnav a.icon {
  /* background: black; */
  color: black;
  display: block;
  position: absolute;
  right: 5.5vw;
  top: 2ch;;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #FDC8A6;
  color: black;
}


.banner {
  position: absolute;
  top: 0vh;
  left: 0%;
  width: 65vw;
  height: 10vh;
  display: grid;
  grid-template-columns: repeat(40, 1fr);
  grid-template-rows: repeat(3, 1fr);
  overflow-x: hidden;

  /* z-index: 1; */
  /* border: solid 1px black; */
}

header {
  position: absolute;
  top: 0%;
  left: 2%;
  width: 27vw;
  height: 5.5vh;
  /* background-color: #383bff;  */
  /* border: dotted 2px black;  */
  /* backdrop-filter: blur(20px); */
  /* box-shadow: 3px 1px 3px 1px rgba(134, 134, 134, 0.431); */
  opacity: 0.75;
  z-index: 151;
}

#head-subhead {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  margin-top: 0;
  top: -5vh;
  width: 50vw;
  height: 20vh;
}

#indigo {
    width: 40vw;
    /* height: 10vh; */
    /* font-family: Arial, Helvetica, sans-serif; */
    
    font-size: 4em;    
    font-family: 'Queen of Clubs', sans-serif;
    /* border: 1px solid red; */
  
    /* font-style: italic; */
    color: #000000;
    margin-bottom: 0;
  
    /* text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.123); */
   
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;  */
   
}

#subhead {
  /* position: absolute; 
  width: 50vw;
  left: 1vw;
  top: 5vh; */
  margin-top: 0;
  font-family: 'queen of clubs', serif;
  /* font-family: 'OPTIThaddeus-Light', sans-serif; */
  font-size: 1.8em;
  /* border: 1px solid black; */
}

#section-1 {
  /* border: 1px solid black; */
  position: absolute;
  display: flex;
  gap: 2vw;
  flex-direction: row;
  justify-content: center;
  top: 27vh;
  left: 0px;
  height: 100vh;
  width: 100vw;
  padding-top: 2vw;
  /* top: 5.5vh;
  left: 0px;
  width: 100vw;
  height: 20vh; */
  /* background-color:blue;   */
}

#first-para {
width: 100%;
height: 20vh;
font-family: 'Oswald', sans-serif;
font-weight: 300;
font-style: normal;
font-size: 1.5rem;
margin-top: 12vh;

/* border: 1px solid black; */
}

#contact-button {
  background: #7fa0c714;
  height: 7vh;
  width: 8vw;
  border: 1px solid black;
  border-radius: 25px;
  font-family: 'Oswald', sans-serif;
  font-size: 0.75em;
  /* background-image: url("assets/blueBrush.png"); */
  background-size: cover;
  background-repeat: repeat;
}

/* .color {
    /* border-radius: 10vw;  */
    /* border: solid 1px black;  */
    
/* } */ 


/* #img-container {
/* border: 1px solid black; */
/* width: 25vw;
height: 20vh; */


#hero-div {
  width: 50vw;
  height: 70vh;
  /* border: 2px solid rgb(103, 255, 22); */
  margin-left: 1.5vw;
}


#offset-border {
  /* position: absolute; */
  /* top: 33.5vh;
  left: 70.5%; */
  width: 25vw;
  height: 40vh;
  border: 2px solid black;
  background-color: #fd8b4e61;
  padding-left: 1.0vw;

}


#hero-img {
  /* position: absolute; */
  margin-top: 1.5vh;
  width: 27.5vw;
  height: auto;
  border: 2px solid black;
  /* clip-path: circle(42% at center); */
  
}


#blue-brush {
  position: fixed;
  top: 75vh;
  left: 60vh;
  width: 12vw;
  height: auto;
  opacity: 1;
  /* z-index: -5; */
  transform: rotate(400deg);
}


@media only screen and (max-width: 520px) {
  
  #section-1 {
    flex-direction: column-reverse;
    margin-top: 10vh;
    justify-content: center;
    align-items: center;
    gap: 5vh;
  }
  
  #img-container {
    margin-top: -29.5vh;
  }

  #offset-border {
    width: 25vw;
    height: 12.8vh;
    }

    #hero-img {
      
      margin-top: 1vh;
    }

    #first-para {
      margin-top: -2vh;
      font-size: 1em;
    }

}

@media only screen and (max-width: 375px) {
  
  #section-1 {
    flex-direction: column-reverse;
    margin-top: 10vh;
    justify-content: center;
    align-items: center;
    gap: 5vh;
  }
  
  #img-container {
    margin-top: -4.5vh;
    margin-bottom: 2vh;
  }

  #offset-border {
    width: 85vw;
    height: 40.8vh;
    padding-left: 2vw;
    }

    #hero-img {
      width: 107%;
      height: auto;
      margin-top: 1vh;
    }

    #first-para {
      margin-top: 5vh;
      margin-left: 7vw;
      font-size: 1.2em;
    }

    #hero-div {
      width: 90vw;

    }

}


#section-2 {
  position: absolute;
  color: #000000;
  background:#FCECDD;
  left: 0px;
  width: 100vw;
  height: 100vh; 
  top: 100vh;
}

#flex-container-1 {
  position: absolute; 
  /* background: #6588F1; */
  top: -12vh;
  width: 100vw;
  height: 10%;
  padding-top: 0;
  display: flex;
  align-items: center;
  padding-left: 5vh; 
  color: black;
}

#animation-container {
  /* background:yellow; */
  /* position: absolute;
  top: 35.5vh; */
  /* left: 0; */
  width: 100vw;
  /* height: 15%; */
  display: flex;
  justify-content:center;
  align-items: center;
  z-index: 12;
  }


#flex-container-2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10vw;
  /* flex-grow: 3; */
  width:100vw;
  padding-top: 4.5%;
  padding-left: 5vw;
  padding-right: 7vw;
  top:0;
  margin-bottom:0;
  /* background: red; */
  z-index: 99;
}



#ig-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  padding: 2vh 2vh 1vh 2vh;
  margin-bottom: 0;
  width: 40%;
  height: auto;
  /* -moz-box-shadow:    inset  0 0 10px #00000022;
   -webkit-box-shadow: inset 0 0 10px #00000048;
   box-shadow:         inset  0 0 10px #aeaeae61; */
}

#about h1 {
  
  margin-top: 0;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-style: normal;
  /* justify-content:center; */
}

#about {

  font-family: 'Oswald', sans-serif;
  width: 55%;
  font-weight: 300;
  /* background:black; */
  font-size: 1.5em; 
  height: 25%; 
  margin-right: 10vw;
}

/* #flex-container-3 {
  background:white;
  } */


  #animation-flex-container {
    position: absolute; 
    /* background: #6588F1; */
    left: 0;
    top: -9vh;
    width: 100vw;
    height: 1vh;
    padding-top: 0;
    display: flex;
    align-items: center;
    /* padding-left: 5vh;  */
    /* color: black; */
  }

  #animation-container-2 {
    /* background:yellow; */
    /* position: absolute;
    top: 35.5vh; */
    /* left: 0; */
    width: 100vw;
    /* height: 15%; */
    display: flex;
    justify-content:flex-start;
    align-items: center;
    z-index: 12;
    }

  #animation-container-3 {
    /* background:yellow; */
    /* position: absolute;
    top: 35.5vh; */
    /* left: 0; */
    width: 50vw;
    /* height: 15%; */
    display: flex;
    justify-content:flex-end;
    align-items: center;
    z-index: 12;
    }

   
#section-3 {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items:center;
  position: absolute;
  padding-top: 12vh;
  padding-left: 8vw;
  top: 200vh;
  left: 0;
  width: 100vw;
  height: 100vh;
  gap: 2vw;
  /* background: linear-gradient(0deg, rgba(255,103,1,5.1922969871542367) 10%, rgba(252,236,221,1)  100%); */
  background: rgba(252,236,221,1);
  
  font-family: 'queen of clubs', sans-serif;
}

#paintbrush {
  width: 20vw;
  height: 20vh;
}

#our-services {
  align-self: center;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  gap: 2vw;
  height: 50vh;
  width: 100vw;
  /* margin-bottom: 5vh; */
  padding: 1vh 2vh 1vh 2vh;
}

#contact-para {
  position: absolute;
  top: 5vh;
  left: 15vh;
  width: auto;
  font-family: 'Oswald', sans-serif;
  font-weight: 400; 
  font-style: normal;
  /* border: 2px solid black; */
  padding: 0.5vh;
  font-size: 1.25em;
  /* background:#fe6c0b35; */
  /* box-shadow: 7px 8px 20px rgba(0, 0, 0, 0.42); */
  
}

#contact {
  
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: center;
  align-items:center;
  width: 35vw;
  height: 75%;
  background: rgba( 255, 255, 255, 0.2 );
  box-shadow: 0 8px 32px 0 rgba(0, 0, 1, 0.37);
  backdrop-filter: blur( 16px );
  -webkit-backdrop-filter: blur( 16px );
  border-radius: 25px;
  margin-right: 25vh;
  margin-bottom: 7vh;
  border: 2px solid black;
  z-index: 25;
  padding: 0 1vh 0 1vh;
}


input {
  width: 35vw;
  background: rgba(255, 255, 255, 0);
  border-radius: 15px;
}

textarea {
  width: 35vw;
  background: rgba(255, 255, 255, 0);
  border-radius: 15px;
  height: 250%;
}

button#submit {
  margin-top: 20vh;

}

#section-4 {
  display: flex; 
  flex-direction: column; 
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center; 
  /* flex-basis:fit-content
  gap: 2vw; */
  width: 100vw;
  height: 100vh; 
  position: absolute;
  top: 300vh;
  left: 0;
  background: linear-gradient(0deg, rgba(255,103,1,5.1922969871542367) 0%, rgba(252,236,221,1)  30%); 
}


.service-img {
  border: 2px solid black;
}

#contact-animation {
  position: absolute;
  top: 2vh;
  left: 50vw;
  width: 15vw;
  height: 15vh;
  margin-bottom: 2vh;
}

/* 
#btn {
display: inline-block;
} */

.siema {
  /* background: rgba(0, 0, 255, 0.125); */
  /* margin-bottom: 2vh; */
  width: 50vw;
  border: 2px solid black;
  padding: 1vh 0.5vh 1vh 0.5vh;
  z-index: 40;
} 



.yelp-review {
  padding-left: 1vw;
  z-index: 40;
}



#left-btn {
  position: absolute;
  top: 60vh;
  left: 38vw;
  background: rgba(0, 0, 0, 0);
  border: 2px solid black;
  border-radius: 7px;
  z-index: 40;
}

#right-btn {
  position: absolute;
  top: 60vh;
  left: 60vw;
  background: rgba(0, 0, 0, 0);
  border: 2px solid black;
  border-radius: 7px;
  z-index: 40;
}

/* #button-div{
  background: red;
} */

/* #left-button {
  width: 1000px;
  height: 1000px;
} */





#carousel-container {
  display: flex;
  flex-direction: row;
  /* position: absolute; */
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
}

/* #paintball {

  transform: rotate(180deg);
 position: absolute;  
  width: 75px;
  height: 150px;
  /* left: 45vw; 
} */

#testimonial-h1 {
  align-self: center;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
}

#footer {
  font-family: 'queen of clubs', sans-serif;
  position: absolute;
  left: 0vh;
  top: 370vh;
  height: 1vh;
  width: 100vw;
  padding: 15vh 0 0 2.5vh;
  margin: 0;
  color:  #FCECDD;
  font-size: 1.25em;
  /* border: 1px solid black; */
}